<script type="text/javascript" src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>


<style media="screen">
form textarea#description {
   width: 600px;
   height: 200px;
   max-width: 600px;
}

</style>

{% extends 'layout.html' %}

{% block body %}

<p><b>Input the Job description/Skills/Titles:</b></p>
<p>When input skills or titles, seperate with commas.</p>

<form method="POST">
  {{ form.hidden_tag() }}
  {{ form.description() }} <br>
  {{ form.options() }}
  {{ form.submit() }}
</form>
<hr>


{% if result or talents %}

<div>
  <p><b>Mostly wanted skills:</b></p>
  {% for item in required_skills %} 
  <a>{{ item }} </a> &nbsp; / &nbsp;
  {% endfor %}
</div>

<hr>
<div>
  
  <p><b>Recommended Talents:</b></p>

  <table>
    
    {% for t in talents %} 

<!--     <tr>
      <td width="20%"><img src="{{t[0]['basic']['image_url']}}" width="18%"></td>
      <td width="20%">/td>
    </tr> -->

      <tbody>
        <tr>
            <th rowspan="5" width="25%"><img src="{{t[0]['basic']['image_url']}}" width="90%"></th>
            <th colspan="2" width="75%">{{ t[0]['basic']['fullname'] }}</th>
        </tr>
        <tr>
            <td width="30%">Age: {{t[0]['basic']['age']}}</td>
            <td>E-mail: <a>{{t[0]['basic']['email']}}</a></td>
        </tr>
        <tr>
          <td>Experience: {{t[0]['basic']['experience']}}</td>
          <td>Location: {{t[0]['basic']['location']}} </td>
        </tr>
        <tr>
          <td>Education: {{ t[0]['basic']['education']}}</td>
          <td>Focus: {% for s in t[0]['basic']['focus'] %}{{s}}/{% endfor %}</td>
        </tr>
        <tr>
          <td>Title: {{ t[0]['basic']['title']}} </td>
          <td>Skills: {% for s in t[0]['skills']%}{{s}}/{% endfor %}</td>
        </tr>
    </tbody>

    {% endfor %}
  </table>



  

</div>

{% endif %}

</div>

{% endblock %}
